body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: #9a646d;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}
nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


form{
    padding:1.5em;
    margin:1em;
}
.buttons { 
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

  }
  .buttons button { 
    width: 100%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }